<!--------------------------------------------------------------------->
<!-- IMAGE VIEWER                                                    -->
<!--------------------------------------------------------------------->

<!--
	Used to display images in fullscreen. The image here is a dummy which
	will be replaced accordingly once the user clicks on the image.
-->

<div id="img_viewer">
	<img loading="lazy" class="img_increased_size">
</div>




<div id="all" lang="de">
<!--------------------------------------------------------------------->
<!-- TAG INDICATOR                                                   -->
<!--------------------------------------------------------------------->

<!--
	Shows a color depending on the topic of the cards.
	CSS has a default color for tags that aren't matched here.
-->
<header id="tag_indicator">
	<div id="tag_indicator_label">Nicht zugeordnet</div>
</header>




<main id="flashcard">
	<!--------------------------------------------------------------------->
	<!-- QUESTION TEXT                                                   -->
	<!--------------------------------------------------------------------->
	
	<div id="front_question">{{Text (Vorderseite)}}</div>
	
	
	
	
	<!--------------------------------------------------------------------->
	<!-- QUESTION PICTURE                                                -->
	<!--------------------------------------------------------------------->
	
	<!--
		Create a conditional.
		The '#' and '/' in front of the field marks
		the conditional and its body is what will be
		diplayed if the condition "field is not empty"
		is true.
	
		The below div thus shows the field
		'{{Bilder (Vorderseite)}}' if and only if
		'{{Bilder (Vorderseite)}}' is not empty.
	-->
	<div id="front_picture">
		{{#Bilder (Vorderseite)}}
			{{Bilder (Vorderseite)}}
		{{/Bilder (Vorderseite)}}
	</div>
	
	
	
	
	<!----------------------------------------------------------------------------->
	<!-- ANSWER                                                                  -->
	<!----------------------------------------------------------------------------->
	
	<hr class="hidden_on_front", id="divider">
	
	<div class="hidden_on_front", id="back_answer">
		{{Text (Rückseite)}}
	</div>
	
	
	
	
	<!----------------------------------------------------------------------------->
	<!-- ANSWER PICTURE                                                          -->
	<!----------------------------------------------------------------------------->
	
	<!--
		Create a conditional.
		The '#' and '/' in front of the field marks
		the conditional and its body is what will be
		diplayed if the condition "field is not empty"
		is true.
	
		The below div thus shows the field
		'{{Bilder (Rückseite)}}' if and only if
		'{{Bilder (Rückseite)}}' is not empty.
	-->
	<div class="hidden_on_front", id="back_picture">
		{{#Bilder (Rückseite)}}
			{{Bilder (Rückseite)}}
		{{/Bilder (Rückseite)}}
	</div>
</main>




<aside class="hidden_on_front" id="back_remarks_and_examples">
	<!----------------------------------------------------------------------------->
	<!-- ANSWER REMARKS AND EXAMPLES                                             -->
	<!----------------------------------------------------------------------------->
	
	<!--
		Create a conditional.
		The '#' and '/' in front of the field marks
		the conditional and its body is what will be
		diplayed if the condition "field is not empty"
		is true.
	
		The below div thus shows some string,
		followed by the	field
		'{{Anmerkungen (Rückseite)}}' if and
		only if '{{Anmerkungen (Rückseite)}}' is not
		empty.
	-->
	<section>
		{{#Anmerkungen (Rückseite)}}
			<h1>Anmerkungen & Beispiele:</h1>
			{{Anmerkungen (Rückseite)}}
		{{/Anmerkungen (Rückseite)}}
	</section>
</aside>




<footer>
	<!----------------------------------------------------------------------------->
	<!-- SOURCES OF INFOS ON CARD                                                -->
	<!----------------------------------------------------------------------------->
	
	<section class="hidden_on_front", id="back_sources">
		<h1>Quellen:</h1>
		<!-- generated by JS -->
	</section>
</footer>

<div>




<!----------------------------------------------------------------------------->
<!-- JAVASCRIPT                                                              -->
<!----------------------------------------------------------------------------->

<script>
	/**************************************************************/
	/** [JS] TAG INDICATOR                                       **/
	/**************************************************************/
	
	if ('{{Tags}}'.includes('Psychologie_und_Psychotherapie')) {
		document.getElementById('tag_indicator').classList.add("tag_psychologie_psychotherapie");
		document.getElementById('tag_indicator_label').innerHTML = 'Psychologie & Psychotherapie';
	}
	else if ('{{Tags}}'.includes('IT')) {
		document.getElementById('tag_indicator').classList.add("tag_it");
		document.getElementById('tag_indicator_label').innerHTML = 'IT';
	}
	
	
	
	
	/**************************************************************/
	/** [JS] DISPLAY BIG PICTURES ON CLICK                       **/
	/**************************************************************/
	
	var image_nodes = document.getElementsByTagName('img');
	
	/* There is at least 1 image on the card, not just the dummy. */
	if (image_nodes.length > 1) {
		for (var i = 0; i < image_nodes.length; i++) {
			image_nodes[i].addEventListener('click', function() {
				toggle_fullscreen(this);
			});
		}
	}
	
	function toggle_fullscreen(element){
		img_viewer = document.getElementById("img_viewer");
		
		if (window.getComputedStyle(img_viewer).display === "flex") {
			img_viewer.style.display="none";
		} else {
			document.getElementById("img_viewer").querySelector("img").setAttribute("src",element.src);
			img_viewer.style.display="flex";
		}
	}
	
	
	
	
	/**************************************************************/
	/** [JS] AUTOSCROLL TO HORIZONTAL LINE AFTER TURNING CARD    **/
	/**************************************************************/
	
	/*
	 *   onShownHook fires after the card has faded in.
	 *   Also see: https://addon-docs.ankiweb.net/reviewer-javascript.html?highlight=onUpdateHook#reviewer-javascript
	 */
	onShownHook.push(() => {
		document.querySelector("#divider").scrollIntoView();
	});
	
	
	
	
	/**************************************************************/
	/** [JS] BREAK SOURCES INTO SEPARATE DIVS                    **/
	/**************************************************************/
	
	var source_container = document.getElementById("back_sources");
	var source_string = `{{Quellen (Rückseite)}}`;
	var individual_source_string = source_string.split("<br>");
	
	individual_source_string.forEach((source, index) => {
		const div = document.createElement("div");
		
		div.innerHTML = "•&nbsp;" + source;
		div.classList.add("back_sources_elements");
		source_container.appendChild(div);
	});
</script>